@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@font-face {
  font-family: "Boogy";
  src: url("/fonts/Boogy_Brut_WEB-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

body {
  font-family: var(--font-secondary);
}
